###> IDE ###
/.idea/
/.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project
###< IDE ###

###> OS ###
.DS_Store
Thumbs.db
###< OS ###

###> Symfony local ###
/.env.local
/.env.local.php
/.env.*.local
/.env.test
/.env.test.local
###< Symfony local ###

###> Logs ###
/log/*
!/log/.gitkeep
###< Logs ###

###> Cache/var ###
/var/*
!/var/cache
!/var/log
!/var/sessions
!/var/storage
/var/cache/*
!var/cache/.gitkeep
/var/log/*
!var/log/.gitkeep
/var/sessions/*
!var/sessions/.gitkeep
###< Cache/var ###

###> Vendor ###
/vendor/
###< Vendor ###

###> Composer ###
/composer.lock
###< Composer ###

###> Frontend ###
/public/bundles/
/public/build/
/node_modules/
/assets/node_modules/
npm-debug.log
yarn-error.log
/webpack.config.js
/webpack.config.js.local
###< Frontend ###

###> Tests ###
.phpunit.result.cache
/phpunit.xml
###< Tests ###

###> Uploads ###
/public/uploads/
###< Uploads ###